<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lab.name %>
</p>

<p>
  <strong>Chief:</strong>
  <%= @lab.chief_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lab.description %>
</p>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
